header {
    position: sticky;
    top: 0;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

header span {
    min-width: 85px;
    background-color: #212529;
    color: white;
    border-bottom: 1px solid #464c52;
    border-right: 1px solid #464c52;
}

.row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    cursor: pointer;
}

.row span {
    min-width: 85px;
    background-color: white;
}

.row.active span {
    background-color: #f9f9f9;
}

.table {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

div.flexbox {
    display: flex;
}

button {
    margin: 0 5px 5px 0;
}

button.active {
    background-color: #464c52;
    color: white;
}

div.stats {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #dee2e6;
    position: sticky;
    top: 19px;
    background-color: #c0c0c0;
}

div.stats div {
    margin-right: 10px;
}
