body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg,#e1e1e1 0%,#c8c8c8 100%);
    padding: 0;
    margin: 0;
    color: #524f55;

    .wrapper-container {
        max-width: 1800px;
        min-width: 320px;
        margin: 60px auto;
        background: linear-gradient(270deg,#fbfbfb 0%,#f4f4f4 100%);
        padding: 15px;
        border-radius: 20px;
        box-shadow: -5px 10px 23px 0 #bbbbbb;
    }

    header {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;

        span {
            min-width: 85px;
            background-color: #212529;
            color: white;
            border-bottom: 1px solid #464c52;
            border-right: 1px solid #464c52;
            padding: 5px;
        }
    }

    div.stats {
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #dee2e6;
        background-color: #c0c0c0;

        button {
            padding: 0;
            margin: 0;
        }

        .stat {
            display: inline-block;
            margin-right: 10px;
            span {
                font-weight: bold;
            }
        }

        .details {
            display: inline-block;
            margin-right: 5px;
        }
    }

    div.sticky {
        position: sticky;
        top: 0;
    }

    div.stats {
        div {
            margin-right: 10px;
        }
    }

    .row {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        cursor: pointer;

        span {
            min-width: 85px;
            background-color: white;
        }

        &.active span {
            background-color: #f9f9f9;
        }
    }

    .table {
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    div.flexbox {
        display: flex;
    }

    button,
    a.lnk {
        margin: 0 5px 15px 0;
        padding: 10px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #c0c0c0;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #212529;

        &.active {
            background-color: #212529;
            color: white;
        }
    }
}
